<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<form th:action="@{/login-page}" method="post">
        <div class="title">LOGIN</div>

        <div>
            <label>Username</label>
            <input type="text" name="username">
        </div>

        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>

        <div>
            <button type="submit" >로그인</button>
        </div>
        <div>
            <button type="button" th:onclick="|location.href='@{/signup}'|">회원가입</button>
        </div>
</form>


</body>
</html>